/******menu*********/
nav {
	margin: 27px auto 0;

	position: relative;
	width: 400px;
	height: 50px;
	background-color: #e28024;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 50%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 100px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #e74c3c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 100px;
	background-color: #e73cbc;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 200px;
	background-color: #1abc9c;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 100px;
	left: 300px;
	background-color: #2f22e6;
}


body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}

h1 {
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

span {
    color: #2BD6B4;
}
/******menu*********/
.home {
    text-align: center;
}
  .myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:38px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Verdana;
	font-size:17px;
	font-weight:bold;
	padding:20px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;

}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

#commentForm {
	width: 500px;
}
#commentForm label {
	width: 250px;
}
#commentForm label.error, #commentForm input.submit {
	margin-left: 253px;
}
#signupForm {
	width: 670px;
}
#signupForm label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}
#newsletter_topics label.error {
	display: none;
	margin-left: 103px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }
		
  p {
	text-align: center;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-family: cursive;
	font-size: 20px;
	color:#ffa91e;
  }
#score, #time, #lives
{
    display:inline;
}

.board {
	widows: 600px;
    height:600px;
	position: relative 
}

#canvas {
	position: absolute; left: 0; top: 0; z-index: 0; 
}
#canvas2 {
	position: absolute; left: 0; top: 0; z-index:1; 
}
		
footer {
    bottom: 0;
    color: #707070;
    height: 2em;
    left: 0;
    position: relative;
    font-size: small;
    width:100%;
}