/******menu*********/

body{
    margin: 0;
    padding: 0;
    background: url("background.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    zoom: 90%;
}

nav {
	margin: 27px auto 0;

	position: relative;
	width: 400px;
	height: 50px;
	background-color: #e28024;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 50%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 100px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #e74c3c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 100px;
	background-color: #e73cbc;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 200px;
	background-color: #1abc9c;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 100px;
	left: 300px;
	background-color: #2f22e6;
}


h1 {
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

span {
    color: #2BD6B4;
}
/******menu*********/
.home {
    text-align: center;
}

  .myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:38px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Verdana;
	font-size:17px;
	font-weight:bold;
	padding:20px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;

}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}



.centerLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }
		
  p {
	text-align: center;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-family: cursive;
	font-size: 20px;
	color:#ffa91e;
  }
/*********form-box style**********/

.form-box{
    width: 320px;
    height: 340px;
	background:rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 52%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0px 30px;
}

h1{
    margin: 0;
    padding: 0 0 0px;
    text-align: center;
    font-size: 22px;
}
.form-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.form-box input{
    width: 100%;
    margin-bottom: 20px;
}
.form-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.form-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.form-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.form-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.form-box a:hover
{
    color: #39dc79;
}

/********************/

/********registration-Form style************/

.registration-Form{
    width: 800px;
    height: 300px;
	background:rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 52%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0px 30px;
}

.registration-Form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.registration-Form input{
    width: 80%;
    margin-bottom: 20px;
}
.registration-Form input[type="text"],input[type="password"],input[type="email"],input[type="date"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.registration-Form input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.registration-Form input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.registration-Form a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.registration-Form a:hover
{
    color: #39dc79;
}


/*********************/

.Preferences-Form{
    width: 1400px;
    height: 400px;
	background:rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 56%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0px 30px;
}


.Preferences-Form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.Preferences-Form input{
    width: 80%;
    margin-bottom: 20px;
}
.Preferences-Form input[type="text"],input[type="number"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.Preferences-Form input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.Preferences-Form input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}
.Preferences-Form input[type="color"]
{
	width: 25px;
    margin-bottom: 20px;
}
.Preferences-Form a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.Preferences-Form a:hover
{
    color: #39dc79;
}

/*********************/

.bRandom {
	box-shadow: 3px 4px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:15px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:3px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.bRandom:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.bRandom:active {
	position:relative;
	top:1px;
}

.slidecontainer {
	width: 150px;
  }
  
  .slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider:hover {
	opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
  }


/*********************/
/*
#score, #time, #lives
{
    display:inline;
}
*/
.board {
	position: relative 
}

#canvas {
	background-color: rgba(0, 0, 0, 0.95);
	position: absolute; left: 0; top: 0; z-index: 0; 
}
#canvas2 {
	position: absolute; left: 0; top: 0; z-index:1; 
}

canvas {
    height:400px;
    width: 800px;
}

#game {
    width: 800px;
    height:100px;
    margin: 0px auto;
  }
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;	
  }

  output {
	display: inline;
	
	color: rgb(255, 0, 0);
  }

  .input_class { 
    border: none;
    background: #001aff9d;
    outline: none;
    height: 40px;
    width: 100px;
    color: rgb(19, 17, 17);
    font-size: 20px;
    font-style: initial;
  }
  #game_data{
    position: relative;
    top:0px;  
    left:560px;
  }
  .label_class{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 28px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
  }
  
.gameButton {
    position: absolute;
    top:400px;  
    left:1252px;
	box-shadow: 3px 4px 0px -1px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #001aff9d 100%);
	background-color:#79bbff;
	border-radius:8px;
	border:2px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:25px;
	font-weight:bold;
	padding:16px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.gameButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.gameButton:active {
	position:relative;
	top:5px;
}

.game_details{
    width: 350px;
    height: 350px;
	background:rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 52%;
    left: 180px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0px 30px;
}
       